# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ch05/p4.output
ch13/va
ch14/strcpy
ch15/func.o
ch33/select
ch39/readdir
gotalk
lecture-plan

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode directory
.vscode
