# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
ch13/va
ch14-code/ex
ch14-code/f.o
ch14/strcpy
ch19-code/ch19-code
ch33/select
ch39/readdir
gotalk
lecture-plan

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VSCode directory
.vscode
